
<h1>Welcome!</h1>

<h3>This is the longest word game!</h3>
<p>Write a word containing only the letters provided below and click sybmit to see your score! The longest word wins!</p>

<h2>New game:</h2>
<% @letters.each do |letter| %>
  <%= letter %>
  <% end %>

  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label_tag 'answer', 'What is the longest word you can find?' %>
    <div>
      <input type="text" name="answer" placeholder="Write your answer here">
      <input type="submit" value="Play">
    </div>
  </form>
